.container {
    margin-top: 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.container_menu {
    flex: 1 1 20%;
    margin-right: 5%;
    margin-left: 15%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #9cb2b2;
    box-shadow: 0 0.125rem 0.25rem rgba(15, 20, 34, 0.4);
    border-radius: 0.375rem !important;
}

.container_button {
    display: flex;
    margin-bottom: 15px;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.button {
    flex: 1 1 35%;
    margin-right: 7.5%;
    margin-left: 7.5%;
}

.container_list {
    flex: 1 1 45%;
    margin-right: 10%;
    background-color: #9cb2b2;
    box-shadow: 0 0.125rem 0.25rem rgba(15, 20, 34, 0.4);
    border-radius: 0.375rem !important;
}

.title {
    margin-left: 10px;
}

.list_element{
    margin-bottom: 5px;
}